body {
    background-image: url('../images/bkg-travel-header.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Ombre légère */
    background-color: rgba(27, 160, 255, 0.633); /* Fond transparent à 75% */
    transition: transform 0.2s; /* Animation de transformation au survol */
}

.card:hover {
    transform: scale(1.05); /* Agrandissement au survol */
}
  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

footer a:hover {
    font-weight: bold;
    color: #ffcc00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #36454f;
    justify-content: center;
    align-items: center;
    color: white;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    border: 1px solid #36454f;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dcdcdc;
}

.admin_header {
    background-image: url('/images/voyager.avif');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-primary-btn {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-danger-btn {
    background-color: #dc3545; 
    border-color: #dc3545;
}